<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>โครงการ</h1>
            </div>
        </div>
        
    </div>
    
</div>

<div class="content mt-3">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label mb-1">งบประมาณโครงการทั้งหมด</label>
            <input type="number" class="form-control" ng-model="budget_all"/>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label mb-1">งบประมาณโครงการคงเหลือ</label>
            <input type="number" class="form-control" ng-value="budget_all - a_all - s_all - u_all"/>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">กิจกรรม</strong>
                    <div class="float-right">
                        <button type="button" class="btn btn-info"  data-toggle="modal" data-target="#myModal">เพิ่ม</button>
                    </div>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">กิจกรรม</th>
                        <th scope="col">เดือน</th>
                        <th scope="col">งบประมาณต่อกิจกรรม/บาท</th>
                        <th scope="col">เบิกจ่าย</th>
                        
                        <th scope="col">ร้อยละการเบิกจ่าย (ระบบคำนวณเป็น %)</th>
                        <th scope="col">action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="activity in activities track by $index">
                        <th scope="row">{{ $index + 1 }} </th>
                        <td>{{ activity.name }}</td>
                        <td>กิจกรรมเดือน {{ activity.start }} - {{ activity.end }}</td>
                        <td>{{ activity.budget }}</td>
                        <td>{{ activity.disburse }}</td>
                        <td>{{ (activity.disburse * 100 ) / activity.budget  }}</td>
                        <td>
                                <button type="button" class="btn btn-info">เเก้ไข</button>
                                <button type="button" class="btn btn-warning" ng-click="del_activity(activity.key)">ลบ</button>
                        </td>
                    </tr>
                
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="row">รวม</th>
                        <td></td>
                        <td>{{ last_month }}</td>
                        <td>{{ a_all = used_budget }}</td>
                        <td>{{ used_disburse }}</td>
                        <td>{{ percent }}</td>
                        <td>
                        </td>
                    </tr>
                <tfoot>
                </table>
            </div>
            
                

        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">ค่าใช้จ่ายบุคลากร</strong>
                <div class="float-right">
                    <button type="button" class="btn btn-info"  data-toggle="modal" data-target="#staff">เพิ่ม</button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ตำเเหน่ง</th>
                        <th scope="col">ชื่อ</th>
                        <th scope="col">อัตรา / เดือน</th>
                        <th scope="col">จำนวน (บาท)</th>
                        <th scope="col">action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="staff in staffs track by $index">
                        <th scope="row">{{ $index + 1 }}</th>
                        <td>{{ staff.position }}</td>
                        <td>{{ staff.fullname }}</td>
                        <td>{{ staff.salary  }}</td>
                        <td>{{ s_all =  staff.salary * last_month }}</td>
                        <td>
                            <button type="button" class="btn btn-info">เเก้ไข</button>
                            <button type="button" class="btn btn-warning" >ลบ</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="row">รวม</th>
                        <td></td>
                        <td></td>
                        <td>{{ all_salary }}</td>
                        <td>{{ all_salary * last_month }}</td>
                        <td></td>
                    </tr>
                <tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">ค่าใช้จ่ายมหาวิทยาลัย</strong>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">รายการ</th>
                        <th scope="col">เปอเซ็น</th>
                        <th scope="col">จำนวนเงิน</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>มหาวิทยาลัย</td>
                        <td>10</td>
                        <td>{{ u_vate = budget_all * 0.1 }}</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>คณะ</td>
                        <td>2</td>
                        <td>{{ f_vate = budget_all * 0.02 }}</td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                        <td>ภาค</td>
                        <td>1</td>
                        <td>{{ d_vate = budget_all * 0.01 }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="row">รวม</th>
                        <td></td>
                        <td>13</td>
                        <td>{{ u_all = u_vate + f_vate + d_vate }}</td>
                    </tr>
                <tfoot>
                </table>
            </div>
        </div>
    </div>

</div> <!-- .content -->


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">เพิ่มโครงการ</h4>
            </div>
            <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label mb-1">ชื่อโครงการ</label>
                            <input type="text" class="form-control" ng-model="activity_name"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label mb-1">งบประมาณ</label>
                            <input type="number" class="form-control" ng-model="activity_budget"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label mb-1">เดือนที่เริ่ม</label>
                            <!-- <div id="datepicker-start" class="input-group date" data-date-format="mm-dd-yyyy">
                                    <input class="form-control" type="text" readonly  />
                                    <span class="input-group-addon"></span>
                                </div> -->
                            <input type="number" class="form-control" ng-model="activity_start"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label mb-1">เดือนที่สิ้นสุด</label>
                                <input type="number" class="form-control" ng-model="activity_end"/>
                            </div>
                        </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label mb-1">รวม (เดือน)</label>
                                <input type="number" class="form-control" value="4" disabled="true" ng-value="activity_end - activity_start + 1"/>
                            </div>
                        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-disabled="!add_validation()" ng-click="add_activity()">เพิ่ม</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
            </div>
        </div>
        
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staff" role="dialog">
        <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">เพิ่มบุคลากร</h4>
                </div>
                <div class="modal-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label mb-1" ng-model="staff_name">ชื่อ + นามสกุล</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label mb-1">หน่วยงาน</label>
                                <input type="number" class="form-control" ng-model="staff_department" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="sel1">ประเภท</label>
                                <select class="form-control" style="font-size: 13px; height: 32px;" ng-model="staff_type" ng-change="type_change()">
                                    <option>บุคลากรหลัก</option>
                                    <option>บุคลากรสนันสนุน</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="sel1">ตำเเหน่ง</label>
                                <select class="form-control" style="font-size: 13px; height: 32px;" ng-show="show_main" ng-model="staff_position">
                                    <option>หัวหน้าโครงการ</option>
                                    <option>นักวิจัย</option>
                                </select>
                                <select class="form-control" style="font-size: 13px; height: 32px;" ng-show="show_support" ng-model="staff_position">
                                        <option>ผู้ช่วยนักวิจัย</option>
                                        <option>เลขานุการ</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="comment">ทักษะ</label>
                                <textarea class="form-control" rows="3" ng-model="staff_skill"></textarea>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">เพิ่ม</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
                </div>
            </div>
            
        </div>
    </div>